// apply a natural box layout model to all elements, but allowing components to change
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

.container {
  max-width: $max-width;
  margin: 0 auto;
}

.app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: $gutter 0;

  .rounded {
    border-radius: 15px;

    &-btn {
      border-radius: 10px;
    }
  }
}
