// apply a natural box layout model to all elements, but allowing components to change
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

.margin-box {
  width: 100%;
  padding: 0 10 * $gutter;
}

.page-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: auto;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .rounded {
    border-radius: 15px;

    &-btn {
      border-radius: 10px;
    }
  }
}
