
.characters {

  &__title {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid $black;
    font-size: 2rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    &--item {
      width: 20%;
      min-width: 0.5 * $min-width;
    }
  }

  // &__image {
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  // }

  &__name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &--text {
      width: 100%;
    }
  }
}
