.info-pane {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: $black-transparent;

  &__box {
    width: 60%;
    background: $white;
  }
}

.info-pane__active {
  display: flex;
}
